# Set the default document to index.html in the src folder
DirectoryIndex ./src/index.html

# Redirect all requests to the src folder
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/src/
RewriteRule ^(.*)$ /src/$1 [L]

# Ensure the site is accessed using HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]